<div class="row">
  <div class="col-4"><img src="../../assets/logo.png" alt="logo" /></div>
  <div class="col-4">
    <h1 class="heading">{{ title }}</h1>
  </div>
  <div class="dropdown" >
    <span><img class="avatar"src="../../assets/a1.png" alt="profile" height="100px" /></span>
    <div class="dropdown-content">
    <a routerLink='../list'>Dashboard</a>
    <a routerLink='../profile/myprofile'>My Profile</a>
    <a routerLink='../profile/cp'>Reset Password</a>
    <a routerLink='/'>Signout</a>
    </div>
  </div>
  <br>
  <hr />
</div>
