<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="content">
    <div class="row">
      <div class="col-2">
        <img src="../../assets/a1.png" alt="Avatar" height="100px"/>
      </div>
      
      <div class="col-6">
        <div class="info">
          <span>
            <h3>Shubhamkar Suryawanshi</h3>
          </span>
          <span>
            <button type="submit">
              <a routerLink="./../edit">Edit Profile</a>
            </button>
            </span>
        </div>
        <div>
          <h6>Consultant</h6>
        </div>
        <div><span class="fa fa-star star"></span>
            <span class="fa fa-star star"></span>        
            <span class="fa fa-star star"></span></div>
      </div>
    </div>

    <div class="comments">
        <h4>Comments:</h4>
        <div class="box">
            <div class="row">
            <div class="col-1"><img class="img" src="../../assets/a2.png" alt="Avatar" height="50px"/></div>
            <div class="col-8">
                <p>Have good command on angular framework</p>
                <div><span class="fa fa-star star first" ></span>
                <span class="fa fa-star star"></span>        
                <span class="fa fa-star star"></span></div>
            </div>
            </div>
        </div>

        <div class="box">
            <div class="row">
            <div class="col-1"><img class="img" src="../../assets/a3.png" alt="Avatar" height="50px"/></div>
            <div class="col-8">
                <p>Very good command knowledge of html, css</p>
                <div><span class="fa fa-star star first" ></span>
                <span class="fa fa-star star"></span>   
                <span class="fa fa-star star"></span>      
                <span class="fa fa-star star"></span></div>
            </div>
            </div>
        </div>

        <div class="box">
            <div class="row">
            <div class="col-1"><img class="img" src="../../assets/a4.png" alt="Avatar" height="50px"/></div>
            <div class="col-8">
                <p>Need to improve angular implimentation</p>
                <div><span class="fa fa-star star first" ></span>
                <span class="fa fa-star star"></span></div>
            </div>
            </div>
        </div>

        </div>

</div>