<div class="content">
  <h3>Change Password</h3>
  <hr />
  <form [formGroup]="myForm">
    <div>
      <label for="password">Password:</label><br />
      <input
        type="password"
        id="password"
        name="password"
        autofocus
        formControlName="password"
      />
    </div>
    <br />
    <div class="error-messages">
      <ng-container *ngFor="let error of error_messages.password">
        <div
          class="error-message"
          *ngIf="
            myForm.get('password').hasError(error.type) &&
            (myForm.get('password').dirty ||
              myForm.get('password').touched)
          "
        >
          {{ error.message }}
        </div>
      </ng-container>
    </div>

    <div>
      <label for="confirmpassword">Confirm Password:</label><br />
      <input
        type="password"
        id="confirmpassword"
        name="confirmpassword"
        formControlName="confirmpassword"
      />
    </div>
    <br />
    <div class="error-messages">
      <ng-container *ngFor="let error of error_messages.confirmpassword">
        <div
          class="error-message"
          *ngIf="
            myForm.get('confirmpassword').hasError(error.type) &&
            (myForm.get('confirmpassword').dirty ||
              myForm.get('confirmpassword').touched)
          "
        >
          {{ error.message }}
        </div>
      </ng-container>
    </div>

    <pre style="margin-left: 15%">
      Password Not Match - {{ myForm.errors | json }}
    </pre>

    <div class="button">
      <button type="submit">
        <a  routerLink='/'>
        Reset Password
        </a>
      </button>
    </div>
  </form>
</div>
