.content {
  border: 1px solid black;
  width: 27%;
  margin: auto;
}

h3 {
  text-align: center;
}

label,
input {
  margin-left: 25%;
}

.button {
  margin-top: 5%;
  margin-left: 32%;
  margin-bottom: 5%;
}

a {
  text-decoration: none;
  color: blue;
}

.error-message {
  color: red;
}
input.ng-touched.ng-invalid {
  border: 1px solid red;
}
