<div class="content">
    <h3>Edit Your Profile</h3><hr>
    <form>
      <label for="username">Full Name:</label><br />
      <input type="username" id="username" name="username" autofocus value="Shubhamkar Suryawanshi" /><br />
      <label for="designation">Designation:</label><br />
      <select name="designation" id="designation">
        
        <option value="consultant">Consultant</option>
        <option value="select">Select</option>
        <option value="technical-associate">Technical Associate</option>
        <option value="hr">HR</option>
        <option value="manager">Manager</option></select
      ><br />
      <label for="email">Email:</label><br />
      <input type="email" id="email" name="email" value="shubhamkar@genpact.com"  /><br />
      <div class="button">
          <button type="submit" class="button saveBtn"><a routerLink='/'>Save</a></button>
          <button type="submit" class="button"><a routerLink='#'>Cancel</a></button>
        </div>
    </form>
  
  </div>