.content{
    border: 1px solid black;
    width: 28%;
    margin: auto;
}

h3{
    text-align: center;
}

label, input, select{
    margin-left: 25%;
}

a{
    text-decoration: none;
    color:blue;
}

.button{
    margin: 5%;
    
}

.saveBtn{
    margin-left: 25%;
}



